apache_beam==2.9.0
future==0.17.1
pyhamcrest>=1.9,<2.0
google-apitools>=0.5.23,<=0.5.24
proto-google-cloud-datastore-v1>=0.90.0,<=0.90.4
googledatastore>=7.0.1,<7.1; python_version < "3.0"
google-cloud-pubsub==0.39.0
google-cloud-bigquery>=1.6.0,<1.7.0
flake8==3.6.0
nose==1.3.7